/* 

COLORS:
light blue: #8e9efc
medium blue:#5a73fc
dark blue:#1c3eff

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}

header{
    background-image: 
    linear-gradient(to right bottom, rgba(142, 158, 252, .8),rgba(28, 62, 255, .8)),
    url('../img/background1.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: ellipse(65% 50% at 50% 32%);

    height: 95vh;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo{
    height: 70px;
} 

.logo-box{
    position: absolute;
    top: 30px;
    left: 30px;
} 

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
    /* animation-name: animationtest;
    animation-duration: 2s; */
    /* animation-iteration-count: infinite; */
    /* animation-delay: 3s; */
}

.heading-primary__main{
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1s ease-out;
}

.heading-primary__sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 18px;
    animation:moveInRight 1s ease-out;
}
.btn,
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    font-size: 1.6rem;
    position: relative;
}
.btn-white{
    color: #777777;
    background: #fff;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}
.btn:active{
    transform: translateY(-1px);
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0,0, .2);
}
.btn::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 100px;
    transition: all 0.4s;
}
.btn-white::after{
    background-color: #fff;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated{
    animation:moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}
/* -------- Animation */
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
        color: red;
    }
    80%{
        transform: translateX(10px);
        color: yellow;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        color: greenyellow;
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
html{
    font-size: 10px;
}